# Generer med: openssl rand -hex 32
CMS_SECRET_KEY=BYTT_MEG_UT

# Opsjonelt: for ISR revalidering
REVALIDATE_SECRET=BYTT_MEG_UT_2

# Neste.js public URL
NEXT_PUBLIC_SITE_URL=https://srv1413711.hstgr.cloud
